body {
    background-color: #df241b;
}

/* Link color controls below */

a {
    color: black;
  }
  
  a:visited {
    color: white;
  }
  
  a:hover {
    color: #003200;
  }
  
  a:active {
    color: pink;
  }