body {
    background-color: #df241b;
}

/* Heading color and font type below */

h1, h2, p {
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    text-align: center;
  }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Link color controls below */

a, nav {
    text-align: center;
    align-content: center;
}

a {
    color: black;
  }
  
  a:visited {
    color: white;
  }
  
  a:hover {
    color: #003200;
  }
  
  a:active {
    color: pink;
  }