/* All text will be this font by default. */
* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Website background color. */
body {
    background-color: #3eb650;
    padding: 40px;
}

/* All the below tags will be centered and the color white. */
h1, h2, h3, p {
    color: whitesmoke;
    text-align: center;
}

main p {
    text-align: left;
}

/* Link color controls below */

a, nav {
    text-align: center;
    align-content: center;
}

a, a:visited {
    color: #292930;
    text-decoration: none;
}
  
a:hover {
    color: #fcc133;
}
  
a:active {
    color: blue;
}

/* Styling for the header box */

.header-box {
    background-color: rgb(58, 120, 78);
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    border-radius: 10px;
}