<header>
    <h1>Ramone Thompson's Roudy Tanuki ★ ITIS 3135</h1>
    <nav>
        <a href="./">Homepage ★</a>
        <a href="introduction.html">Introductions ★</a>
        <a href="tables.html">Tables ★</a>
        <a href="forms.html">Forms ★</a>
        <a href="contract.html">Contract ★</a>
        <a href="website_evaluations.html">Site Evaluations ★</a>
        <a href="stuff/WH_OSb_A&D.htm">CRAPPY Site ★</a>
        <a href="emmet.html">EMMET PAGE ★</a>
        <a href="firstscripts.html">First JavaScripts ★</a>
        <a href="promoroletape.com/project_1.html">Project 1 ★</a>
        <a href="byo_intro.html">BYO Intro ★</a>
        <a href="fizz_buzz.html">Fizz Buzz</a>
    </nav>
</header>