<footer>
    <nav>
        <a href="http://Raycoder5.github.io">Github.io ★</a>
        <a href="https://www.linkedin.com/in/ramone-t-64169b19b">LinkedIn</a>
    </nav>
    <p>Designed by Ramone Thompson, Certified in <a href="https://www.freecodecamp.org/certification/Ramone_T/responsive-web-design">HTML and CSS</a> ©2024</p>
    <p>
        <a href="https://validator.w3.org/check?uri=referer">

        <img style="border:0;width:88px;height:31px"
        src="https://upload.wikimedia.org/wikipedia/commons/b/bb/W3C_HTML5_certified.png" 
        alt="Valid HTML!">
        </a>
        <a href="https://jigsaw.w3.org/css-validator/check/referer">

            <img style="border:0;width:88px;height:31px"
            src="https://jigsaw.w3.org/css-validator/images/vcss" 
            alt="Valid CSS!">
        
        </a>
    </p>
</footer>